@using WebNuocHoa.Models
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Layout/Layout_Trangchu.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
            <div class="product-thumb">
                
                <a href="@Url.Action("Details","Trangchu",new {id=item.MaNH})" class="btn btn-default add-to-cart"><i class="fa fa-book"></i><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Chi Tiết</button></a>

                <img src="~/Hinh/product01.jpg" alt="">
            </div>
            <div class="product-body">
                <h3 class="product-price">@String.Format("{0:0,0}", item.Giaban) VNĐ</h3>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o empty"></i>
                </div>
                <h2 class="product-name"><a href="#">@item.TenNH</a></h2>
                <div class="product-btns">
                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                    <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaNH= @item.MaNH, @strURL=Request.Url.ToString() })" class="btn btn-default add-to-cart">
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
}


